*{
	padding: 0px;
	margin: 0px;
}

.row.no-gutters {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .navbar-light{
	height: 20px;
}

.navbar-brand {
	color: #333;
	position: absolute;
	top: 9px;
	left: 50px;
}

button{
	position: absolute;
	right: 20px;
	top: 16px;
}

.login {
	height: 85vh;
	background-color: #f0f0f0;
}

.form_login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-113%, -50%);
	width: 400px;
	padding:20px 30px;
	background-color: white;
	z-index: 1000;
	color: #333
}


.form_login .form h2{
	text-align: center;
	color: #333;
	margin: 10px 0px 20px;
	font-size: 25px;
}

}
.form-element label{
	font-size: 14px;
	color: white;
}

input[type="text"],[type="password"] {
	margin-top: 5px;
	overflow: hidden; 
	width: 100%;
	padding: 10px;
	outline: none;
	border: none;
	padding-bottom: 10px;
	background: none;
	border-bottom: 1px solid #000;
}

.form label{
	font-size: 15px;

}

.form-element input[type="submit"]{
	color: white;
	outline: none;
	background: #1167b0;
	display: block; 
	width: 100%;
	height: 40px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;

}


.footer{
	height: 10vh;
	background-color: #333;
	color: silver;
	text-align: center;
	padding: 20px;
}